.item {
    background: white;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 25px;
    margin: 0 0 20px;
    justify-content: space-between;
    border-radius: 20px;
}

.title{
    font-size: 20px;
    color: #2b6777;
    width: 70%;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
}